<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianjiajia.kitchen.design.dao.CnAndEnMapper">
    <resultMap id="BaseResultMap" type="com.qianjiajia.kitchen.design.domain.CnAndEn">
        <id column="CN_AND_EN_ID" jdbcType="VARCHAR" property="cnAndEnId"/>
        <result column="BIG_KEY_CLASS_EN" jdbcType="VARCHAR" property="bigKeyClassEn"/>
        <result column="BIG_KEY_CLASS_CN" jdbcType="VARCHAR" property="bigKeyClassCn"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    CN_AND_EN_ID, BIG_KEY_CLASS_EN, BIG_KEY_CLASS_CN
  </sql>
    <select id="selectByExample" parameterType="com.qianjiajia.kitchen.design.domain.CnAndEnExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from CN_AND_EN
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from CN_AND_EN
        where CN_AND_EN_ID = #{cnAndEnId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CN_AND_EN
    where CN_AND_EN_ID = #{cnAndEnId,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.qianjiajia.kitchen.design.domain.CnAndEnExample">
        delete from CN_AND_EN
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.qianjiajia.kitchen.design.domain.CnAndEn">
    insert into CN_AND_EN (CN_AND_EN_ID, BIG_KEY_CLASS_EN, BIG_KEY_CLASS_CN
      )
    values (#{cnAndEnId,jdbcType=VARCHAR}, #{bigKeyClassEn,jdbcType=VARCHAR}, #{bigKeyClassCn,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.qianjiajia.kitchen.design.domain.CnAndEn">
        insert into CN_AND_EN
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cnAndEnId != null">
                CN_AND_EN_ID,
            </if>
            <if test="bigKeyClassEn != null">
                BIG_KEY_CLASS_EN,
            </if>
            <if test="bigKeyClassCn != null">
                BIG_KEY_CLASS_CN,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cnAndEnId != null">
                #{cnAndEnId,jdbcType=VARCHAR},
            </if>
            <if test="bigKeyClassEn != null">
                #{bigKeyClassEn,jdbcType=VARCHAR},
            </if>
            <if test="bigKeyClassCn != null">
                #{bigKeyClassCn,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="save" parameterType="com.qianjiajia.kitchen.design.domain.CnAndEn">
    insert into CN_AND_EN (CN_AND_EN_ID, BIG_KEY_CLASS_EN, BIG_KEY_CLASS_CN
      )
    values (#{cnAndEnId,jdbcType=VARCHAR}, #{bigKeyClassEn,jdbcType=VARCHAR}, #{bigKeyClassCn,jdbcType=VARCHAR}
      )
  </insert>
    <select id="countByExample" parameterType="com.qianjiajia.kitchen.design.domain.CnAndEnExample"
            resultType="java.lang.Long">
        select count(*) from CN_AND_EN
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update CN_AND_EN
        <set>
            <if test="record.cnAndEnId != null">
                CN_AND_EN_ID = #{record.cnAndEnId,jdbcType=VARCHAR},
            </if>
            <if test="record.bigKeyClassEn != null">
                BIG_KEY_CLASS_EN = #{record.bigKeyClassEn,jdbcType=VARCHAR},
            </if>
            <if test="record.bigKeyClassCn != null">
                BIG_KEY_CLASS_CN = #{record.bigKeyClassCn,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update CN_AND_EN
        set CN_AND_EN_ID = #{record.cnAndEnId,jdbcType=VARCHAR},
        BIG_KEY_CLASS_EN = #{record.bigKeyClassEn,jdbcType=VARCHAR},
        BIG_KEY_CLASS_CN = #{record.bigKeyClassCn,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.qianjiajia.kitchen.design.domain.CnAndEn">
        update CN_AND_EN
        <set>
            <if test="bigKeyClassEn != null">
                BIG_KEY_CLASS_EN = #{bigKeyClassEn,jdbcType=VARCHAR},
            </if>
            <if test="bigKeyClassCn != null">
                BIG_KEY_CLASS_CN = #{bigKeyClassCn,jdbcType=VARCHAR},
            </if>
        </set>
        where CN_AND_EN_ID = #{cnAndEnId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qianjiajia.kitchen.design.domain.CnAndEn">
    update CN_AND_EN
    set BIG_KEY_CLASS_EN = #{bigKeyClassEn,jdbcType=VARCHAR},
      BIG_KEY_CLASS_CN = #{bigKeyClassCn,jdbcType=VARCHAR}
    where CN_AND_EN_ID = #{cnAndEnId,jdbcType=VARCHAR}
  </update>

    <select id="allEn" resultType="java.lang.String">
    SELECT DISTINCT BIG_KEY_CLASS_EN
    FROM CN_AND_EN

  </select>
    <select id="getAllEnName" resultType="java.lang.String">
    SELECT DISTINCT BIG_KEY_CLASS_EN
    FROM CN_AND_EN
</select>
</mapper>