<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianjiajia.kitchen.design.dao.OrderCommonMapper">
  <resultMap id="BaseResultMap" type="com.qianjiajia.kitchen.design.domain.OrderCommon">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ORDER_CONSIGNEE_NAME" jdbcType="VARCHAR" property="orderConsigneeName" />
    <result column="ORDER_CONSIGNEE_PHONE" jdbcType="VARCHAR" property="orderConsigneePhone" />
    <result column="ORDER_CONSIGNEE_ADDRESS" jdbcType="VARCHAR" property="orderConsigneeAddress" />
    <result column="ORDER_CARRIAGE" jdbcType="DECIMAL" property="orderCarriage" />
    <result column="ORDER_STATUS" jdbcType="DECIMAL" property="orderStatus" />
    <result column="ORDER_CREATE_DATE" jdbcType="TIMESTAMP" property="orderCreateDate" />
    <result column="ORDER_REF" jdbcType="VARCHAR" property="orderRef" />
    <result column="ORDER_ACTUAL_PAYMENT" jdbcType="DECIMAL" property="orderActualPayment" />
    <result column="ORDER_TOTAL_PAYMENT" jdbcType="DECIMAL" property="orderTotalPayment" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ORDER_CONSIGNEE_NAME, ORDER_CONSIGNEE_PHONE, ORDER_CONSIGNEE_ADDRESS, ORDER_CARRIAGE, 
    ORDER_STATUS, ORDER_CREATE_DATE, ORDER_REF, ORDER_ACTUAL_PAYMENT, ORDER_TOTAL_PAYMENT
  </sql>
  <select id="selectByExample" parameterType="com.qianjiajia.kitchen.design.domain.OrderCommonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ORDER_COMMON
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ORDER_COMMON
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ORDER_COMMON
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qianjiajia.kitchen.design.domain.OrderCommonExample">
    delete from ORDER_COMMON
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qianjiajia.kitchen.design.domain.OrderCommon">
    insert into ORDER_COMMON (ID, ORDER_CONSIGNEE_NAME, ORDER_CONSIGNEE_PHONE, 
      ORDER_CONSIGNEE_ADDRESS, ORDER_CARRIAGE, ORDER_STATUS, 
      ORDER_CREATE_DATE, ORDER_REF, ORDER_ACTUAL_PAYMENT, 
      ORDER_TOTAL_PAYMENT)
    values (#{id,jdbcType=VARCHAR}, #{orderConsigneeName,jdbcType=VARCHAR}, #{orderConsigneePhone,jdbcType=VARCHAR}, 
      #{orderConsigneeAddress,jdbcType=VARCHAR}, #{orderCarriage,jdbcType=DECIMAL}, #{orderStatus,jdbcType=DECIMAL}, 
      #{orderCreateDate,jdbcType=TIMESTAMP}, #{orderRef,jdbcType=VARCHAR}, #{orderActualPayment,jdbcType=DECIMAL}, 
      #{orderTotalPayment,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.qianjiajia.kitchen.design.domain.OrderCommon">
    insert into ORDER_COMMON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderConsigneeName != null">
        ORDER_CONSIGNEE_NAME,
      </if>
      <if test="orderConsigneePhone != null">
        ORDER_CONSIGNEE_PHONE,
      </if>
      <if test="orderConsigneeAddress != null">
        ORDER_CONSIGNEE_ADDRESS,
      </if>
      <if test="orderCarriage != null">
        ORDER_CARRIAGE,
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS,
      </if>
      <if test="orderCreateDate != null">
        ORDER_CREATE_DATE,
      </if>
      <if test="orderRef != null">
        ORDER_REF,
      </if>
      <if test="orderActualPayment != null">
        ORDER_ACTUAL_PAYMENT,
      </if>
      <if test="orderTotalPayment != null">
        ORDER_TOTAL_PAYMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderConsigneeName != null">
        #{orderConsigneeName,jdbcType=VARCHAR},
      </if>
      <if test="orderConsigneePhone != null">
        #{orderConsigneePhone,jdbcType=VARCHAR},
      </if>
      <if test="orderConsigneeAddress != null">
        #{orderConsigneeAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderCarriage != null">
        #{orderCarriage,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=DECIMAL},
      </if>
      <if test="orderCreateDate != null">
        #{orderCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderRef != null">
        #{orderRef,jdbcType=VARCHAR},
      </if>
      <if test="orderActualPayment != null">
        #{orderActualPayment,jdbcType=DECIMAL},
      </if>
      <if test="orderTotalPayment != null">
        #{orderTotalPayment,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qianjiajia.kitchen.design.domain.OrderCommonExample" resultType="java.lang.Long">
    select count(*) from ORDER_COMMON
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ORDER_COMMON
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderConsigneeName != null">
        ORDER_CONSIGNEE_NAME = #{record.orderConsigneeName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderConsigneePhone != null">
        ORDER_CONSIGNEE_PHONE = #{record.orderConsigneePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.orderConsigneeAddress != null">
        ORDER_CONSIGNEE_ADDRESS = #{record.orderConsigneeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCarriage != null">
        ORDER_CARRIAGE = #{record.orderCarriage,jdbcType=DECIMAL},
      </if>
      <if test="record.orderStatus != null">
        ORDER_STATUS = #{record.orderStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.orderCreateDate != null">
        ORDER_CREATE_DATE = #{record.orderCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderRef != null">
        ORDER_REF = #{record.orderRef,jdbcType=VARCHAR},
      </if>
      <if test="record.orderActualPayment != null">
        ORDER_ACTUAL_PAYMENT = #{record.orderActualPayment,jdbcType=DECIMAL},
      </if>
      <if test="record.orderTotalPayment != null">
        ORDER_TOTAL_PAYMENT = #{record.orderTotalPayment,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ORDER_COMMON
    set ID = #{record.id,jdbcType=VARCHAR},
      ORDER_CONSIGNEE_NAME = #{record.orderConsigneeName,jdbcType=VARCHAR},
      ORDER_CONSIGNEE_PHONE = #{record.orderConsigneePhone,jdbcType=VARCHAR},
      ORDER_CONSIGNEE_ADDRESS = #{record.orderConsigneeAddress,jdbcType=VARCHAR},
      ORDER_CARRIAGE = #{record.orderCarriage,jdbcType=DECIMAL},
      ORDER_STATUS = #{record.orderStatus,jdbcType=DECIMAL},
      ORDER_CREATE_DATE = #{record.orderCreateDate,jdbcType=TIMESTAMP},
      ORDER_REF = #{record.orderRef,jdbcType=VARCHAR},
      ORDER_ACTUAL_PAYMENT = #{record.orderActualPayment,jdbcType=DECIMAL},
      ORDER_TOTAL_PAYMENT = #{record.orderTotalPayment,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianjiajia.kitchen.design.domain.OrderCommon">
    update ORDER_COMMON
    <set>
      <if test="orderConsigneeName != null">
        ORDER_CONSIGNEE_NAME = #{orderConsigneeName,jdbcType=VARCHAR},
      </if>
      <if test="orderConsigneePhone != null">
        ORDER_CONSIGNEE_PHONE = #{orderConsigneePhone,jdbcType=VARCHAR},
      </if>
      <if test="orderConsigneeAddress != null">
        ORDER_CONSIGNEE_ADDRESS = #{orderConsigneeAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderCarriage != null">
        ORDER_CARRIAGE = #{orderCarriage,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS = #{orderStatus,jdbcType=DECIMAL},
      </if>
      <if test="orderCreateDate != null">
        ORDER_CREATE_DATE = #{orderCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderRef != null">
        ORDER_REF = #{orderRef,jdbcType=VARCHAR},
      </if>
      <if test="orderActualPayment != null">
        ORDER_ACTUAL_PAYMENT = #{orderActualPayment,jdbcType=DECIMAL},
      </if>
      <if test="orderTotalPayment != null">
        ORDER_TOTAL_PAYMENT = #{orderTotalPayment,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianjiajia.kitchen.design.domain.OrderCommon">
    update ORDER_COMMON
    set ORDER_CONSIGNEE_NAME = #{orderConsigneeName,jdbcType=VARCHAR},
      ORDER_CONSIGNEE_PHONE = #{orderConsigneePhone,jdbcType=VARCHAR},
      ORDER_CONSIGNEE_ADDRESS = #{orderConsigneeAddress,jdbcType=VARCHAR},
      ORDER_CARRIAGE = #{orderCarriage,jdbcType=DECIMAL},
      ORDER_STATUS = #{orderStatus,jdbcType=DECIMAL},
      ORDER_CREATE_DATE = #{orderCreateDate,jdbcType=TIMESTAMP},
      ORDER_REF = #{orderRef,jdbcType=VARCHAR},
      ORDER_ACTUAL_PAYMENT = #{orderActualPayment,jdbcType=DECIMAL},
      ORDER_TOTAL_PAYMENT = #{orderTotalPayment,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getAll" parameterType="com.qianjiajia.kitchen.design.query.OrderCommonQuery" resultMap="BaseResultMap">
    SELECT *
    FROM ORDER_COMMON
  </select>

  <select id="getOrdersIdList"  resultType="java.lang.String">
    SELECT ID
    FROM ORDER_COMMON
  </select>

  <select id="queryById" parameterType="java.lang.String" resultType="com.qianjiajia.kitchen.design.domain.OrderCommon">
    SELECT *
    FROM ORDER_COMMON
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="queryList" resultType="com.qianjiajia.kitchen.design.domain.OrderCommon">
    SELECT *
    FROM ORDER_COMMON
  </select>

  <select id="queryOrders" resultType="com.qianjiajia.kitchen.design.domain.OrderCommon">
    SELECT *
    FROM ORDER_COMMON
  </select>

  <select id="queryOrdersId" resultType="java.lang.String">
    SELECT ID
    FROM ORDER_COMMON
  </select>
</mapper>