<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianjiajia.kitchen.design.dao.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.qianjiajia.kitchen.design.domain.ShoppingCart">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="PRODUCT_NUMBER" jdbcType="INTEGER" property="productNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USER_ID, PRODUCT_ID, STATUS, PRODUCT_NUMBER
  </sql>
  <select id="selectByExample" parameterType="com.qianjiajia.kitchen.design.domain.ShoppingCartExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shoppingcart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shoppingcart
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shoppingcart
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qianjiajia.kitchen.design.domain.ShoppingCartExample">
    delete from shoppingcart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.qianjiajia.kitchen.design.domain.ShoppingCart">
    insert into shoppingcart (ID, USER_ID, PRODUCT_ID, 
      STATUS, PRODUCT_NUMBER)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{productNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qianjiajia.kitchen.design.domain.ShoppingCart">
    insert into shoppingcart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="productNumber != null">
        PRODUCT_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="productNumber != null">
        #{productNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qianjiajia.kitchen.design.domain.ShoppingCartExample" resultType="java.lang.Long">
    select count(*) from shoppingcart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shoppingcart
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.productNumber != null">
        PRODUCT_NUMBER = #{record.productNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shoppingcart
    set ID = #{record.id,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      PRODUCT_NUMBER = #{record.productNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianjiajia.kitchen.design.domain.ShoppingCart">
    update shoppingcart
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="productNumber != null">
        PRODUCT_NUMBER = #{productNumber,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianjiajia.kitchen.design.domain.ShoppingCart">
    update shoppingcart
    set USER_ID = #{userId,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      PRODUCT_NUMBER = #{productNumber,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM shoppingcart
    WHERE USER_ID = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="getByStatus" parameterType="com.qianjiajia.kitchen.design.query.ProductQuery" resultMap="BaseResultMap">
    SELECT * FROM shoppingcart
    WHERE USER_ID = #{userId,jdbcType=VARCHAR} and STATUS = #{status,jdbcType=INTEGER}
  </select>
  <select id="query" resultType="com.qianjiajia.kitchen.design.domain.ShoppingCart">
    SELECT * FROM shoppingcart
    WHERE USER_ID = #{userId,jdbcType=VARCHAR} and STATUS = #{status,jdbcType=INTEGER}
  </select>

  <select id="queryByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM shoppingcart
    WHERE USER_ID = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="queryByProductId" parameterType="com.qianjiajia.kitchen.design.domain.ShoppingCart"
          resultType="com.qianjiajia.kitchen.design.domain.ShoppingCart">
    SELECT * FROM shoppingcart
    WHERE USER_ID = #{userId,jdbcType=VARCHAR} and STATUS = #{status,jdbcType=INTEGER} and PRODUCT_ID = #{productId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByStatusAndProduct">
    delete from shoppingcart
    where USER_ID = #{userId,jdbcType=VARCHAR} and STATUS = #{status,jdbcType=INTEGER} and PRODUCT_ID = #{productId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByStatus">
    delete from shoppingcart
    where USER_ID = #{userId,jdbcType=VARCHAR} and STATUS = #{status,jdbcType=INTEGER}
  </delete>

  <update id="updateStatus" parameterType="java.lang.String">
    UPDATE shoppingcart
    SET STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateNumber" parameterType="java.lang.String">
     UPDATE shoppingcart
    SET STATUS = #{status,jdbcType=INTEGER} and PRODUCT_NUMBER = #{productNumber,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>